* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;margin:0}
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 1400px;
  width: 100%;
  height: 75%;
  position: relative;
  margin: auto;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

body {
    font-family: Arial;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f8f8e8;
}

/* Global */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

.button_1 {
    height: 38px;
    background: #e8491d;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

.dark {
    padding: 15px;
    background: #35424a;
    border: 0;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Header */
header {
    background: #628395;
    color: #ffffff;
    padding-top: 30px;
    min-height: 60px;
    border-bottom: black 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
} 

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding { 
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

#menu-icon{
    display: hidden;
    width: 40px;
    height: 40px;
    background: url(images/nav.png) center;
}

header .highlight, header .current a {
    color: black;
    font-weight: bold;
}

 .highlights {
    color: gold;
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}
/*end header*/

/* newsletter secion */

#sub-text {
    width: 60%;
    margin: 0 auto 0 auto;
    padding: 0;  
}

#newsletter {
    padding: 15 px;
    color: #ffffff;
    background: #35424a;
   
}

#newsletter h1 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
}
/*end newsletter*/

/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}
/*end box section*/
/*Footer*/
footer {
    padding: 20px;
    margin-top: 20px;
    border-top: black 3px solid;
    color: #ffffff;
    background-color: #628395;
    text-align: center;
}

.social {
 	list-style-type:  none;
 	text-align: center;
 }
 .social li {
 	display: inline;
 }
 .social i{
 	font-size: 460%;
 	margin: 1%;
 	padding: 1% 1% 1% 1%;
 	color: #C3D7DF;
 }
 .social i:hover {
 	color: #F5F5F5
}
/* End footer*/


/* overwatch page video */
.owvideo {
  max-width: 1400px;
  width: 100%; 
  max-height: 1400px;    
  position: relative;   
  margin: auto;
}


/* Media Queries */
@media(max-width: 768px) {
    
    header #branding, 
    header nav,      
    header nav li,
    #newsletter h1,
    .owvideo,
    .polaroid,
    #newsletter form, 
    #boxes .box,
    article#main-col,
    aside#sidebar {
        float: none;
        text-align: center;
        width: 100%;
    }
    footer p {
        font-size: 150%;
    }
    header {
        padding-bottom: 20px;
    }
    

    header nav ul {
        margin-top: 25px;
    }
     
    #menu-icon{
        display: inline-block;
    }
    
   header nav:hover ul {
       display: block; 
    }
  
    nav ul, nav:active ul{      
        display: none;
        z-index: 1000;
        position:relative;
        padding: 20px;
        background: #35424a;
        border: 3px solid black; 
        right:auto;
        width: 100%;
        border-radius: 3px 0 3px 3px;
    }
    
    
   
    .social i {
 			font-size: 350%;
 		}
}

@font-face {
    font-family: srcl;
    src: url('../fonts/sourcelight.otf');
}

/* polaroid character section*/
.polaroid {
  position: relative;
  width: 220px;
  display: inline-block;  
  margin: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
}
 
.polaroid img {
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 20px 20px 20px #777;
     -moz-box-shadow: 20px 20px 20px #777;
          box-shadow: 0.6px 5px 5px 5px #777;
}
 
.polaroid p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  font: 400 18px/1 'Kaushan Script', cursive;
  color: black;

}
     .polaroid img{
        width: 200px;
        height: 200px;
    }

.polaroid {
  -webkit-transition: all 0.7s ease;
     -moz-transition: all 0.7s ease;
       -o-transition: all 0.7s ease;
      -ms-transition: all 0.7s ease;
          transition: all 0.7s ease;
}
 
.polaroid:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}



.hero h1 {
    text-align: center;
    background-color: #628395;
    border-top: black 5px solid;
     border-bottom: black 5px solid;
        color: white;
}

/* polaroid charcter section end*/

.teams {
    margin: 35px;
    width: 215px;
    height: 300px;
    position: relative;
    display: inline-block;
    
}

.teams {
     -webkit-animation-name: spinner; 
    -webkit-animation-timing-function: linear; 
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-duration: 5s; 
    animation-name: spinner; 
    animation-timing-function: linear; 
    animation-iteration-count: infinite; 
    animation-duration: 5s; 
    -webkit-transform-style: preserve-3d; 
    -moz-transform-style: preserve-3d; 
    -ms-transform-style: preserve-3d; 
    transform-style: preserve-3d;
}

@keyframes spinner { 
    from { 
        -moz-transform: rotateY(0deg); 
        -ms-transform: rotateY(0deg); 
        transform: rotateY(0deg); 
    } 
    to 
    { 
        -moz-transform: rotateY(-360deg); 
        -ms-transform: rotateY(-360deg); 
        transform: rotateY(-360deg); 
    
    } 
}

